.navbar {
  background-color: #036b52;
  display: flex;
  font-size: 2.5vh;
  height: 60px;
  justify-content: space-between;
  list-style: none;
  padding: 0 3vw;
}

.left {
  width: 20vw;
}

.rigth {
  width: 25vw;
}

.left, .rigth {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.left li a, .rigth li a {
  color: #f2fffc;
}

.produtos {
  padding: 20px 0;
}
