* {
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-buttons {
  height: 4vh;
  width: 18vw;
}

/* ------------------Admin Header----------------------- */

.nav-container {
  background: #036B52;
  height: 7vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2.4vh;
  overflow-y: hidden;
  color: white;
}

/* -----------------------NewForm-------------------------- */

.newform-container {
  width: 90vw;
  margin: 5vh auto;
}

.inputs-container {
  display: flex;
  position: relative;
  margin-top: 2vh;
}

.inputs-container label {
  display: flex;
  flex-direction: column;

  width: 16vw;
  margin-right: 3vw;
}

#register-button {
  width: 15vw;
  height: 4vh;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ---------------------User List-------------------------------*/

.userlist-container {
  width: 90vw;
  margin: 5vh auto;
}

.userlist-container table {
  width: 100%;
}

td, th {
  height: 3.5vh;
  text-align: left;
}

/* ---------------------- Links ------------------------- */

a {
  cursor: 'pointer';
  text-decoration: none;
}

a:hover {
  border-top: none;
  border-bottom: .3vh solid white;
  border-left: none;
  border-right: none;

  animation-name: navborder;
  animation-duration: .6s;
}

@keyframes navborder {
  0% { border-bottom: none;}
  100% { border-bottom: .3vh solid white;}
  
}


button:hover {
  filter: brightness(115%);
}



img:hover {
  animation-name: shake;
  animation-duration: .5s;
}

@keyframes shake {
 0% { filter: brightness(100%)}
 25% { filter: brightness(120%)}
 50% { filter: brightness(100%)}
 100% { filter: brightness(120%)}
}
